# Python cache files
**/__pycache__/
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Database files
*.sqlite3
*.db

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Temporary files
*.swp
*~
.~lock.*#

# Backup files
*.bak

# Compiled Python files
*.pyc

# SQLAlchemy migration files
alembic/versions/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Dependency directories
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backup files
*.bak
*.gho
*.ori
*.orig
*.tmp
